@charset "utf-8";

/*fonts*/

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
  font-display: swap;
}

:root {
  --black-basic: #000000;
  --white-basic: #ffffff;
  --white-text-rgba: rgba(255, 255, 255, 0.5);
  --white-background-rgba: rgba(255, 255, 255, 0.3);
  --yellow-text: #FFD180;

  --red-basic: #EE3643;
  --red-hover: #CA2C37;
  --red-click: #BA2732;

  --green-basic: #63A63E;
  --green-hover: #5FBB2D;
  --green-click: #518534;

  --gray-header-top: #293449;
  --gray-navigation: #32425C;
  --gray-navigation-click: #1D2739;
  --gray-basic: #3D546F;
  --gray-basic-light: #C5C5C5;
  --gray-radio-hover: #B5B5B5;
  --gray-background-service: #F1F5F7;
  --gray-title: #F9F5F0;
  --gray-filter: #F7F3EC;
  --gray-old-price: #A9A9A9;
  --gray-border: #EAEAEA;

  --yellow-special: #FFBF47;
  --blue-special: #3BBCE3;
  --purpule-special: #DC91D8;
  --green-special: #8ED78F;
  --yellow-delivery: #FFC047;
}

/* Global */

body {
  min-width: 940px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

}

.page a, .page-catalog a {
  text-decoration: none;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 192px;
  min-height: 38px;
  color: var(--white-basic);
  background-color: var(--red-basic);
}

.button:hover {
  background-color: var(--red-hover);
}

.button:active {
  background-color: var(--red-click);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Grid*/

.page, .page-catalog {
  height: 100%;
}

.page-body, .catalog-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* header */

.main-header {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin-bottom: 10px;
}

/* header-top */

.header-top {
  background-color: var(--gray-header-top);
}
.header-top-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 42px;
  margin: 0 auto;
  padding: 0;
}

.main-logo, .main-logo:hover {
  background-color: var(--red-basic);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.main-logo:active {
  background-color: var(--red-click);
}

.header-top-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 42px;
}

.header-top-navigation a {
  display: block;
  padding: 9px 25px;
}

.search-header-top, .header-top-navigation a {
  font-size: 18px;
  color: var(--white-basic);
}

.search-header {
  position: relative;
  display: inline-block;
}

.search-header input {
  min-height: 42px;
  padding-left: 42px;
  width: 228px;
  border: none;
  background-color: var(--gray-header-top);
  box-sizing: border-box;
}

.search-header-top {
  margin-left: 40px;
  position: absolute;
  top: 11px;
  left: 0;
}

.search-header input:active,
.search-header input:focus {
  background-color: var(--white-basic);
}
.search-header-image {
  position: absolute;
  left: 15px;
  top: 13px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
}

.search-header input:focus .search-header-image path {
  fill: var(--red-basic);
}

.search-header input:focus +label {
  display: none;
}

.bookmarks-header-top, .cart-header-top {
  position: relative;
  padding-left: 30px;
}

.bookmarks-header-top:active,
.cart-header-top:active,
.bookmarks-header-top:active:before,
.cart-header-top:active:before {
  background-color: #161D29;
  opacity: 0.5;
}

.cart-header-top::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-header-top::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.bookmarks-header-top:hover:before,
.cart-header-top:hover:before {
  opacity: 1;
}

.order-header-top {
  background-color: var(--green-basic);
 }

.order-header-top:hover {
  background-color: var(--green-hover);
}

.order-header-top:active {
  background-color: var(--green-click);
  color: var(--white-text-rgba);
}

/*header-middle*/

.header-middle {
  background-color: #F3F7F9;
}
.header-middle-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  width: 940px;
  margin: auto;
  margin-top: 46px;
  margin-bottom: 40px;
  padding: 0;
}

.header-text {
  height: auto;
  font-size: 16px;
  line-height: 23px;
  color: var(--red-basic);
}

.contact-header {
  justify-self: center;
}

.phone-header {
  position: relative;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  padding-left: 74px;
  padding-right: 45px;
  padding-top: 7px;
  padding-bottom: 8px;
  color: var(--red-basic);
  background-color: #F3F7F9;
  border: 3px solid var(--white-basic);
  box-sizing: border-box;
}

.phone-header::before {
  content: "";
  position: absolute;
  left: 35px;
  top: 10px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.adress-header {
  color: var(--gray-navigation);
  text-align: center;
}

.authorization {
  display: flex;
  align-items: center;
  justify-self: end;
}

.authorization-login, .authorization-registration, .persona-name {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--black-basic);
  background-color: var(--white-basic);
}

.authorization-login {
  position: relative;
  padding-left: 45px;
  padding-right: 27px;
}

.authorization-registration {
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 10px;
}

.authorization a:hover {
  color: var(--red-basic);
}

.authorization-login:hover path,
.persona-name:hover path {
  fill: var(--gray-basic);
}

.authorization-login:active path,
.persona-name:active path {
  fill: var(--gray-basic-light);
}

.authorization a:active {
  color: var(--gray-basic-light);
}

/* header-bottom */

.header-bottom {
  background-color: #F3F7F9;
}

.header-bottom-container {
  margin: auto;
  margin-bottom: 60px;
  width: 940px;
  background-color: var(--gray-navigation);
  box-shadow: inset 0px -5px 0px var(--gray-header-top);
}
.header-navigation-list {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;

}
.header-navigation-item {
  list-style: none;
}

.header-navigation-link {
  display: block;
  padding: 16px 28px 20px;
  font-size: 18px;
  color: var(--white-basic);
}

.header-navigation li:first-child {
  padding-left: 25px;
}

.header-navigation-link:hover {
  background-color: var(--gray-header-top);
}

.header-navigation-link:active {
  opacity: 0.5;
  background-color: var(--gray-navigation-click);
}

/*main */

/* features */

.popular-container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.features {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 20px;
  width: 940px;
  margin: 0 auto;
  margin-top: 49px;
  padding: 0;
}
.feature-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
}
.feature-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-left: 23px;
  padding-bottom: 7px;
  color: var(--white-basic);
}

.feature-link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  width: 135px;
  height: 38px;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-left: 23px;
  margin-top: 7px;
  color: var(--white-basic);
  background-color: var(--white-background-rgba);
}

.feature-link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.feature-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.feature-image {
  position: absolute;
  right: 15%;
  top: 25%;
}

.feature-materials {
  background-color: var(--yellow-special);
}

.feature-materials::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-image: url("../img/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-tool {
  background-color: var(--blue-special);
}

.feature-technics {
  background-color: var(--purpule-special);
}

.feature-discount {
  background-color: var(--green-special);
}

.feature-delivery {
  background-color: var(--yellow-delivery);
}

.slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
  background-image: url("../img/man.png");
  width: 620px;
  height: 266px;
  padding-left: 24px;
  box-sizing: border-box;
}

.slider-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--white-basic);
  margin-top: 23px;
  margin-bottom: 0;
}

.slider-text {
  font-size: 18px;
  color: var(--white-basic);
  margin-top: 5px;
}

.slider-button {
  position: absolute;
  top: 200px;
}

/* popular */

.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-title);
  margin: 59px 0px 20px;
  box-sizing: border-box;
  padding-right: 19px;
}

.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--gray-navigation);
  margin: 29px 28px 30px;
}

/* card */

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--white-basic);
  border: 1px solid var(--gray-border);
  box-sizing: border-box;
}

.card:hover {
  background-color: var(--white-basic);
  border: 1px solid var(--gray-border);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.card:hover img {
  display: none;
}

.card-pic {
  max-width: 100%;
  margin: auto;
}

.card-hover {
  display: none;
}

.card-hover a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 135px;
  min-height: 38px;
  box-sizing: border-box;
}

.card:hover .card-hover {
  display: block;
}

.card-title {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 0 25px;
  margin: 10px 0;
  text-align: center;
  color: var(--black-basic);
  order: 1;
}

.card-block-price {
  display: block;
  order: 2;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-old-price);
}

.card-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  width: 141px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-basic);
  background-color: var(--red-basic);
}

.card-new::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background: url("../img/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.card-hover-buy {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-basic);
  background-color: var(--green-basic);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.card-hover-buy:hover {
  background-color: var(--green-hover);
}

.card-hover-buy:active {
  background-color: var(--green-click);
}

.card-hover-bookmarks {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-navigation);
  background-color: var(--white-basic);
  border: 3px solid  var(--green-basic);
  border-radius: 2px;
}

.card-hover-bookmarks:hover {
  border: 3px solid  var(--gray-navigation);
}

.card-hover-bookmarks:active {
  opacity: 0.5;
}

/* manufacturers */

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo-manufacturers {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-basic);
  border: 1px solid var(--gray-border);
  color: var(--black-basic);
  box-sizing: border-box;
  width: 220px;
  height: 145px;
}

.logo-manufacturers:hover, .logo-manufacturers:active {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.logo-manufacturers:active {
  opacity: 0.5;
}

/* service */

.service, .catalog-text {
  background-color: var(--gray-background-service);
}

.service-title {
  font-size: 30px;
  line-height: 30px;
  padding-top: 64px;
  text-transform: uppercase;
  color: var(--black-basic);
}

.service-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--black-basic);
}

.service-container {
  display: flex;
  justify-items: left;
  margin-top: 67px;
  padding: 0;
}

.service-list {
  position: relative;
  width: 240px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 99px;
  padding: 0;
  box-sizing: border-box;
}

.service-list::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 10px;
  height: 279px;
  background: url("../img/roll.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.service-item a {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  padding-left: 22px;
  padding-bottom: 18px;
  padding-top: 13px;
  color: var(--white-basic);
  background-color: var(--gray-navigation);
  box-shadow: 0px 1px 0px var(--gray-header-top), inset 0px 1px 0px #405069;
}

.service-item a:hover {
  background-color: var(--gray-header-top);
}

.service-item a:active {
  color: var(--gray-navigation);
  background-color: var(--white-basic);
  box-shadow: 0px 1px 0px var(--white-basic), inset 0px 1px 0px var(--white-basic);
}

.service-item-current a,
.service-item-current a:hover,
.service-item-current a:focus,
.service-item-current a:active {
  color: var(--gray-navigation);
  background-color: var(--white-basic);
  box-shadow: 0px 1px 0px var(--white-basic), inset 0px 1px 0px var(--white-basic);
}

.service-slider {
  position: relative;
  box-sizing: border-box;
  padding-left: 80px;
}

.service-image {
  position: absolute;
  right: 20px;
  top: 20px;
}

.title-delivery {
  margin: 0;
  padding: 0;
}

/* transport*/

.transport-service {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.pickup {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-self: end;
  width: 300px;
}

.maps {
  width: 300;
  height: 158;
  margin-bottom: 25px;
  margin-top: 8px;
  box-sizing: border-box;
}

.button-maps {
  width: 100%;
}

.transport {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.carrier-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.carrier-item {
  position: relative;
  padding-left: 37px;
  font-size: 18px;
  color: var(--black-basic);
  box-sizing: border-box;
}

.carrier-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 25px;
  height: 2px;
  background-color: var(--red-basic);
}

/*footer*/

.page-footer {
  display: grid;
  grid-template-rows: min-content min-content;
  margin-top: 70px;
}

.footer-top {
  background-color: var(--gray-navigation);
}

.footer-top-container {
  display: grid;
  grid-template-columns: 321px 1fr;
  width: 940px;
  margin: auto;
  padding: 0;
}
.footer-contact-container {
  display: flex;
  flex-direction: column;

}

.contact-footer {
  margin-top: 22px;
  margin-bottom: 54px ;
}

.phone-footer,
.adress-footer {
  font-size: 18px;
  color: #F3F7F9;
  margin: 0;
}

.footer-navigation-container {
  margin-top: 37px;

}

.footer-navigation-list,
.footer-navigation-catalog-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer-navigation-link {
  font-size: 18px;
  color: var(--gray-background-service);
}

.footer-navigation-catalog-link {
  font-size: 18px;
  color: var(--yellow-text);
}

.footer-navigation-link:hover,
.footer-navigation-catalog-link:hover {
  text-decoration-line: underline;
}

.footer-navigation-link:active
.footer-navigation-catalog-link:active {
  text-decoration-line: none;
  opacity: 0.5;
}

/* footer-bottom */

.footer-bottom-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
.footer-bottom {
  background-color: var(--gray-header-top);
}

.footer-bottom-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--white-basic);
}

.footer-social {
  width: 130px;
  justify-self: center;
  text-align: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1px;
  width: 43px;
  height: 43px;
  color: var(--white-basic);
  background-color: #212A3A;
  border-radius: 50%;
  box-sizing: border-box;
}

.social-button:hover,
.social-button:active {
  background-color: var(--red-basic);
}

.footer-copyright-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--white-basic);
  margin: 0;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-self: end;
  justify-content: center;
  align-items: start;
}

.footer-copyright-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--yellow-text);
  margin: 0;
}

.footer-copyright-link:hover {
  text-decoration-line: underline;
}

.footer-copyright-link:active {
  color: var(--red-basic);
  text-decoration-line: none;
}

/*catalog*/

.user {
  display: flex;
  flex-direction: column;
}

.persona-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 7px;
}

.persona-container a::after {
  content: "";
  position: absolute;
  right: 170px;
  top: 7px;
  width: 7px;
  height: 7px;
  background-color: var(--gray-navigation);
  box-sizing: border-box;
  border-radius: 50%;
}

.persona-login-image {
  position: absolute;
  width: 20px;
  height: 17px;
  right: 20px;
  top: 13px;
}

.persona-avatar-image, .authorization-login-image {
  position: absolute;
  width: 20px;
  height: 18px;
  left: 20px;
  top: 13px;
}

.persona {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--gray-navigation);
}

.persona:hover {
  color: var(--red-basic);
}

.persona:active, .persona-name:active {
  color: var(--gray-basic-light);
}

.persona-name {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-left: 56px;
  padding-right: 57px;
  color: var(--black-basic);
  background-color: var(--white-basic);
  box-sizing: border-box;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");

}
.breadcrumbs-current::after {
   display: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-basic);
}

.title-catalog {
  font-size: 30px;
  line-height: 30px;
  padding: 30px;
  width: 880px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--gray-navigation);
  background-color: #F2F6F8;
}

/* Filters */

.filter-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.filter-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 18px;
  margin-top: 0;
  text-transform: uppercase;
  color: var(--black-basic);
  background-color: var(--gray-filter);
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter-legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label,
.filter-input-radio + label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -2px;
  width: 21px;
  height: 21px;
  border: 2px solid var(--gray-basic-light);
  border-radius: 10%;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -4px;
  width: 20px;
  height: 20px;
  border: 5px solid var(--gray-basic-light);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  width: 12px;
  height: 12px;
  background-color: var(--gray-basic-light);
  border-radius: 50%;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-basic);
  background-color: var(--white-basic);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  padding: 10px 79px;
}

.sorting {
  display: grid;
  grid-template-columns: min-content 1fr ;
  min-height: 38px;
  background-color: var(--gray-filter);
  margin-bottom: 28px;
}

.sorting-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: 400;
  font-size: 13px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 140px;
  text-transform: uppercase;
  color: var(--black-basic);
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  padding-right: 14px;
  margin: 0;
  list-style: none;
}

.sorting-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-basic);
  opacity: 0.3;
  border-bottom: 2px dotted var(--red-basic);
}

.sorting-link:hover {
  opacity: 1;
  border-bottom: 2px solid var(--red-basic);
}

.sorting-link:active {
  opacity: 1;
  color: var(--red-basic);
  border-bottom: none;
}

.sorting-icon:hover path {
  fill: var(--black-basic);
}

.sorting-icon:active path {
  fill: var(--red-basic);
}

.card-list-catalog {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* range*/

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--gray-filter);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #D7DCDE;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
}

.price-controls input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  width: 85px;
  padding: 10px;
  text-align: center;
  color: var(--black-basic);
  border: none;
  border-radius: 5px;
  background-color: var(--gray-filter);

}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 48px;
  list-style: none;
}

.pagination-item {
  box-sizing: border-box;
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  display: block;
  padding: 10px 15px;
  color: var(--black-basic);
  background-color: var(--white-basic);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.pagination-item a:hover, .filter-button:hover {
  border: 1px solid var(--gray-basic-light);
}
.pagination-item a:active, .filter-button:active {
  border: 1px solid var(--red-basic);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--white-basic);
  background-color: var(--red-basic);
}

.catalog-text {
  background-color: var(--gray-background-service);
}

.catalog-text-heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-basic);
}

.catalog-text-content {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: var(--black-basic);
}
